@charset "UTF-8";



div.quadrado{
    width: 180px;
    height: 300px;
    border: 1px solid black;
    display: inline-block;
}

div#q1{
    background-color: blue;
}

div#q2{
    background-image: linear-gradient(to right, black, red);
}

div#q3{
    background-image: url('imagens/IMG_20220914_195408_228.webp');
    background-size: contain;
    background-repeat:no-repeat;
}
