@charset "UTF-8";



article#container{
    height: 97vh;
    width: 98vw;
    background-color: green;
}

section#conteudo{
    height: 300px;
    width: 300px;
    background-color: gold;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
